.fondo{
    background-color: darkslategray
}

.imagen{
    width: 70vh;
    height: 60vh;
}


.gifFeliz{
    background-color: cornflowerblue;
    background-image: url(./assets/images/Sol.gif);
    background-position: bottom;
    position: relative;
}

.gifError{
    background-color: black;
    background-image: url(./assets/images/glitch.gif);
    background-position: bottom;
    position: relative;
}

.gifTriste{
    background-color: darkgray;
    background-image: url(./assets/images/lluvia.gif);
    background-position: bottom;
    position: relative;
}

.respuesta{
    width: 35vh;
    height: 47vh;
}

.card-body img {
    max-width: 60vh;
    max-height: 60vh;
}